* {
    font-family: 'Raleway', serif;
}

.container {
    background: black;
    width: 100%;
}

a, a:link, a:hover, a:active {
    color: rgb(212, 0, 255);
    text-align: center;
}

h1 {
    padding-top: 1em;
    font-size: 60px;
    color: rgb(212, 0, 255);
    text-align: center;
    background-color: black;
}

p, h3 {
    text-align: center;
    /* padding-left: auto;
    padding-right: auto; */
    background-color: black;
    color: white;
}

.ta-center {
    display: flex;
    justify-content: center;
    /* padding-left: auto;
    padding-right: auto; */
}

table {
    /* padding-left: auto;
    padding-right: auto; */
    background-color: black;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ffffff;
    color: white;
}

form, table {
    text-align: center;
}

.example {
    padding-top: 2em;
}

img {
    max-height: 300px;
    width: 100%;
    object-fit: contain;
}

footer {
    text-align: center;
    color: rgb(212, 0, 255);
    padding: 10px;
}
